<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">

            <% if (msg.length !== 0) { %>
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <%= msg %> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>

            <h2>Data Jurusan</h2>

            <a href="/jurusan/add" class="btn btn-primary mb-2">Tambah Jurusan</a>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama Jurusan</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>

                    <% if (dataJurusan.length === 0) { %>
                        <tr>
                            <td colspan="3">
                                <div class="alert alert-danger fw-bold text-center" role="alert">
                                    Data Jurusan masih kosong.
                                </div>
                            </td>
                        </tr>
                    <% } %>

                    <% dataJurusan.forEach((jurusan, i) => { %>
                        <tr>
                            <th scope="row"><%= i+1 %> </th>
                            <td><%= jurusan.nama_jurusan %> </td>
                            <td>
                                <a href="/jurusan/<%= jurusan.id %>" class="btn btn-success badge rounded-pill"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a onclick="return confirm('yakin mau hapus data ini?');" href="/jurusan/delete/<%= jurusan.id %>" class="btn btn-danger badge rounded-pill"><i class="bi bi-trash-fill"></i> Hapus</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>